body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container-top{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container-drm{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-item{
    width: 50%;
    padding: 3%;
}
.flexible-item img{
    width: 90%;
}
.top-h1{
    font-size: 50px;
    margin: 0;
    font-family: 'Pushster', cursive;
    font-weight: 300;
}
.owner-name{
    color: rgb(177, 87, 14);
}
.btn-link{
    padding: 10px 40px;
    color: rgb(236, 243, 203);
    background-image: linear-gradient(rgb(4, 4, 75), rgb(182, 41, 163));
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}
.btn-link:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(182, 41, 163), rgb(4, 4, 75) );
}