body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}
h1{
    font-size: 40px;
}
.flexible-container-top{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container-drm{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-item{
    width: 50%;
    padding: 3%;
}
.flexible-item img{
    width: 90%;
}
.top-h1{
    font-size: 50px;
    margin: 0;
    font-family: 'Pushster', cursive;
    font-weight: 300;
}
.clr-prf{
    color: rgb(177, 87, 14);
}
.btn-link{
    padding: 10px 40px;
    color: rgb(236, 243, 203);
    background-image: linear-gradient(rgb(4, 4, 75), rgb(182, 41, 163));
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}
.btn-link:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(182, 41, 163), rgb(4, 4, 75) );
}
.experience-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    position: left;
}
.flexible-container-exp{
    display: flex;
    margin: 0 5%;
}
.exp-item{
    width: 50%;
    box-shadow: 5px 5px 30px gray;
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid;
}
.full-stack-dev{
    margin-right: 2%;
    border-image: linear-gradient(rgb(66, 230, 33), rgb(255, 137, 210));
    border-image-slice: 1;
}

.baby-web-dev{
    margin-left: 2%;
    border-image:  linear-gradient(rgb(241, 80, 31), rgb(4, 4, 75) );
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
#exp-h1{
    margin-left: 3%;
}